<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<!-- Favicon -->
			<link
			rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

			<!-- bootstrap.min css -->
			<link
			rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
			<!-- Icon Font Css -->
			<link
			rel="stylesheet" href="plugins/icofont/icofont.min.css">
			<!-- Slick Slider  CSS -->
			<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
			<link
			rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

			<!-- Main Stylesheet -->
			<link rel="stylesheet" href="css/style.css">
			<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
		{% endblock %}

		{% block javascript %}
			<script src="plugins/jquery/jquery.js"></script>
			<script src="plugins/bootstrap/js/popper.js"></script>
			<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
			<script src="plugins/slick-carousel/slick/slick.min.js"></script>
			{# <script src="plugins/counterup/jquery.waypoints.min.js"></script>
						<script src="plugins/counterup/jquery.counterup.min.js"></script> #}
			<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
			<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
